################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/WsPortfolioExpress.Solution/config
/.vs/WsPortfolioExpress.Solution/DesignTimeBuild
/.vs/WsPortfolioExpress.Solution/FileContentIndex
/.vs/WsPortfolioExpress.Solution/v17
